@charset "utf-8";
body, html {
	height: 100%;
	width: 90%;
	padding: 0px;
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
	line-height: 15px;
	margin: 0 auto;
	background-color:#333;
	
	
}

#main {
   height: 60%;
   display: -webkit-flex;
   display:         flex;
   flex-flow: row;
   border-bottom-width: 2px;
   border-radius: 1px 1px 1px 1px;
   border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	border-bottom-color: #CCC;
	border-top-color: #CCC;
    background-color:white;

	
   
}
#main article {
	
	flex: 3 1 25%;
	order: 2;
	border-collapse: separate;
    border-spacing:  5px 5px;
    width:inherit;
	list-style-type: none;
	padding: 6px;
	border-bottom-width: 1px;
	position:relative;

	
}
	
	
	
}
#main nav {
	background: #FFFFFFFF;
	flex: 1 6 40%;
	order: 1;

		
text-align:center;
	list-style-type: none;
	padding: 6px;
	margin: 0 auto;
	position:relative;
	


}

H1
{
    text-align:center;
    font-size:xx-large;
   
}
ul {
	list-style-type: none;
	
	padding: 0px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	position:absolute;
	
}


#main aside {
	background: #ffffff; /* Old browsers */

	flex: 1 6 5%;
	order: 3;
	position:relative;
	border-right-width: 1px;
	border-left-width: 1px;
	
	border-right-color: #CCC;
	border-left-color: #CCC;
	list-style-type: none;
	padding: 2px;
	border-bottom-width: 1px;
	margin-top:inherit;
	
	
	 
}
header
{
    display: block;
	min-height:25%;
	background:white;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
	list-style-type: none;
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-bottom-width:3px;
	box-shadow:0 0 5px #888;

	
}
footer 
{
    
    display: block;
	min-height: 20%;
	min-width:90%;
	background-color:White;
text-align:center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 3px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	border-bottom-color: #CCC;
	border-top-color: black;
	list-style-type: none;
	
	border-bottom-width: 1px;

	position:relative;
	border-radius: 0px 0px 10px 10px;

}	

*{
	padding: 0px;
	margin: 0px;
	width: auto;
}
#header
{
	margin:auto;
	width:200px;
	font-family:Tahoma, Geneva, sans-serif;
    opacity:0.8;
	
}

ul, ol
{
	list-style:none;
}

.nav li a
{
	background-color:black;
	color:white;
	text-decoration:none;
	padding:15px; 
	display:block;
	
}
.nav li a:hover
{
	background-color:gray;
}
.nav > li
{
	float:left;
}

.nav li ul
{
	display:none;
	position:absolute;
	min-width:140px;
	
}

.nav li:hover > ul
{
	display:block;
	
}

.nav li ul li
{
	position:relative;
	
}

.nav li ul li ul
{
	right:-140px;
	top:0px;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	text-decoration: none;
	font-size: 1em;

	position:relative;
	 margin: 0px 0px 0px 0px;
    top: 5px;
    left: 0px;
}


#info{

	margin-left: 10px;
	float: left;
	margin-bottom: 20px;
	text-align: center;


	background-color:white;
    border-radius: 50%;

	margin-left: 10px;
	float: left;
	
	text-align: center;
	padding: 20px;
	
	
}


#info2
{

    margin-left: 5px;
	
	margin-bottom: 5px;
	
	padding: 10px;
	margin-top: 5px;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 10px #888;
border-radius: 50%;
}

#article2
{
    border-radius: 20px;
    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;
float: left;
	margin-bottom: 20px;
	
	padding: 20px;
	margin-top: 20px;     
}



#article4
{
    border-radius: 5px;
    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;
text-align:center;
	
}
    
#article5
{
    		
	margin-bottom: 5px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	border: 1px;
    border-radius: 24px;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#loguin{
    margin: auto 0;
    font-size:large;
    width:500px;
    height:200px;
    border-radius: 4px;
    margin: 0 auto;
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#principal {
   
margin-left: 5px;
margin-right: 5px;
	margin-bottom: 2px;
	padding: 10px;
	margin-top: 2px;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;

    border-radius: 0 0 5px 5px;
}

#title
{
    	margin-bottom: 2px;
	padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
        border-radius: 5px 5px 0 0;
		color:white;
 
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
text-align:center;
background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(43%, rgba(56,56,56,1)), color-stop(99%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

#titulo2 {
    margin-bottom: 2px;
    padding: 10px;
    margin-left: 5px;
    margin-right:5px;
    border-radius: 10px 10px 0 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align: center;
}


#titulo3 {
    margin-bottom: 2px;
    padding: 10px;
    margin-left: 5px;
	color:white;
    margin-right:5px;
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align: center;
   background: rgba(186,39,55,1);
background: -moz-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,39,55,1)), color-stop(48%, rgba(97,12,12,1)), color-stop(94%, rgba(186,39,55,1)), color-stop(100%, rgba(186,39,55,1)));
background: -webkit-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -o-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -ms-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: linear-gradient(to right, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba2737', endColorstr='#ba2737', GradientType=1 );
}

#tex
{
    text-align:center;
    font-size:large;
}

#menu
{
    margin-left: 5px;
margin-right: 5px;
	margin-bottom: 2px;
	padding: 10px;
	margin-top: 2px;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
color:blue;

    border-radius: 0 0 10px 10px;
}

#menu a
{
    color:blue;
    word-spacing: 0.25em;

}

#image
{
background: rgba(186,39,55,1);
background: -moz-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(186,39,55,1) 22%, rgba(97,12,12,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,39,55,1)), color-stop(22%, rgba(186,39,55,1)), color-stop(100%, rgba(97,12,12,1)));
background: -webkit-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(186,39,55,1) 22%, rgba(97,12,12,1) 100%);
background: -o-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(186,39,55,1) 22%, rgba(97,12,12,1) 100%);
background: -ms-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(186,39,55,1) 22%, rgba(97,12,12,1) 100%);
background: linear-gradient(to right, rgba(186,39,55,1) 0%, rgba(186,39,55,1) 22%, rgba(97,12,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba2737', endColorstr='#610c0c', GradientType=1 );
}

#login
{
	margin-left:800px;
	margin-bottom:5px;
	margin-right:5px;

       border-radius: 5px 5px 5px 5px;
		color:white;
 
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
text-align:center;
background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(43%, rgba(56,56,56,1)), color-stop(99%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 43%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
	
}

#logo
{
	margin-left:950px;
}