body{
	 background-color: #cccccc;
}

#hea
{ 	
	background-color:#FF0;
	color:#000000;
	display: block;
	font-size: 20px;
	font-family:"Arial Black", Gadget, sans-serif;
   	text-align: center;
  	font-style: normal;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}

#encabezado
{ 	
	display: block;
	margin: 0;
	padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}


#nav
{	
	background-color:green;
	border: 2px;
    border-color: #ff0000;
    border-style: solid;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
    top: 30px;
    left: 0;
    right: 0;
    height: 50px;
    vertical-align: middle;
    z-index: 5;

}

#compacta{ 	border-style:outset;

								border-radius:5px 5px 5px 5px;
								border-color:white blue blue white;
								font-size: 20px;
								font-family:"Arial Black", Gadget, sans-serif;
              				font-style: normal;
              				height: 50px;
               			margin: 0;
								padding: 0;
								text-align: center;
     							width: 120px;
								vertical-align: middle;
						}

#map{  background-color:red;
				  display: block;
              margin: 0;
				  padding: 0;
              position: absolute;
              top: 84px;
				  left: 0;
				  right: 0;
				  bottom: 0;
              z-index: 6;
           }

#foo{ 		background-color: transparent;
					color: #000000;
					font-size:20px;
					font-family: Times , serif;
        			text-align:center;
        			font-style: normal;
        			margin: 0;
               padding: 0;
        			position: absolute;
					left: 0;
					right: 0;
					top: 100%;
					font-weight: bold;
        			z-index: 2;
        	 }

