body{
	 background-color: #cccccc;
}

#hea
{ 	
	background-color:#FF0;
	color:#000000;
	display: block;
	font-size: 20px;
	font-family:"Arial Black", Gadget, sans-serif;
   	text-align: center;
  	font-style: normal;
    
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 3;
}

#encabezado
{ 	
	display: block;
	margin: 0;
	padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}


#nav
{	
	 margin-bottom: 2px;
    padding: 10px;
    margin-left: 5px;
	color:white;
    margin-right:5px;
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align: center;
   background: rgba(186,39,55,1);
background: -moz-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,39,55,1)), color-stop(48%, rgba(97,12,12,1)), color-stop(94%, rgba(186,39,55,1)), color-stop(100%, rgba(186,39,55,1)));
background: -webkit-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -o-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: -ms-linear-gradient(left, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
background: linear-gradient(to right, rgba(186,39,55,1) 0%, rgba(97,12,12,1) 48%, rgba(186,39,55,1) 94%, rgba(186,39,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba2737', endColorstr='#ba2737', GradientType=1 );

}

#compacta{ 	border-style:outset;

								border-radius:5px 5px 5px 5px;
								border-color:white blue blue white;
								font-size: 20px;
								font-family:"Arial Black", Gadget, sans-serif;
              				font-style: normal;
              				height: 50px;
               			margin: 0;
								padding: 0;
								text-align: center;
     							width: 120px;
								vertical-align: middle;
						}

#map{  background-color:red;
				  display: block;
              margin: 0;
				  padding: 0;
              position: absolute;
              top: 84px;
				  left: 0;
				  right: 0;
				  bottom: 0;
              z-index: 6;
           }

#foo{ 		background-color: transparent;
					color: #000000;
					font-size:20px;
					font-family: Times , serif;
        			text-align:center;
        			font-style: normal;
        			margin: 0;
               padding: 0;
        			position: absolute;
					left: 0;
					right: 0;
					top: 100%;
					font-weight: bold;
        			z-index: 2;
        	 }

