﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Vota2015.PRESENTACION.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ADMINISTRAR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css"/>

    
<link rel="stylesheet" href="miestilo.css" />
    <link rel="icon" type:"image/png" href="IMGS/icon.png" />
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <header>
         
    
<div class="container" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <div id="header">
                <ul class="nav">
					<li><a href="Default.aspx">HOME</a></li>
                    
                    <li><a href="Ingreso.aspx">INGRESAR</a></li>
                    <li><a href="https://docs.google.com/file/d/0B8x8MyDwOiBleTBKYm9QakhUM0U/edit">DOCUMENTACION</a>
                        <li><a href="localizame/geoM8.html">LOCALIZAME</a>
                    </li>
                         
                       
                   
                    <li><a href="sobrenosotros.aspx">SOBRE NOSOTROS</a> </li>
                        </ul>
        
                    
                                 
                    
            </div>
      
<img src="IMGS/PRINCIPAL1.png" />
    <img src="IMGS/PRINCIAPL2.png" />


</div>
       
        




</header>
        <div class="container">
            <br />
            <img src="IMGS/partidos/PNG/ANN50.png" /><img src="IMGS/partidos/PNG/CNN50.png" /><img src="IMGS/partidos/PNG/CREA50.png" /><img src="IMGS/partidos/PNG/ENCUENTRO50.png" /><img src="IMGS/partidos/PNG/GANA50.png" /><img src="IMGS/partidos/PNG/LIDER50.png" /><img src="IMGS/partidos/PNG/MNR50.png" /><img src="IMGS/partidos/PNG/MR50.png" /><img src="IMGS/partidos/PNG/PAN50.png" /><img src="IMGS/partidos/PNG/PATRIOTA50.png" /><img src="IMGS/partidos/PNG/PRI50.png" /><img src="IMGS/partidos/PNG/TODOS50.png" /><img src="IMGS/partidos/PNG/UCN50.png" /><img src="IMGS/partidos/PNG/UNE50.png" /><img src="IMGS/partidos/PNG/UNIONISTA50.png" /><img src="IMGS/partidos/PNG/URNG50.png" /><img src="IMGS/partidos/PNG/VICTORIA50.png" /><img src="IMGS/partidos/PNG/VIVA50.png" />
            <br />
            </div>

<div class="container">
    <br />
  
<section class="main row">
<article class="col-xs-12 col-sm-8 col-md- col-lg-9">

    
    <div id="title">
    <center>  <h2>BIENVENIDO</h2></center>
        </div>
   
    <div id="principal">
      <h1>¿QUE ES VOTA 2015?</h1>
        <p>Las votaciones generales de la republica de Guatemala se acercan, por tal razo, es muy necesario que su partido politico cuente con una herramienta segura, rapida y eficaz para mantener a su equipo informado, saber en tiempo real como se van desarrollando en todas sus etapas el acto electoral,  logrando un control sobre cada uno de los problemas que afecten al equipo y corroborando de manera correcta las votaciones con su equipo</p>
      
 
         <div id="title">¿POR QUE NUESTRO PROYECTO? </div>
         <div id="principal">
             <h4>Surge de la necesidad de la gestión y el control de resultados en las <b>votaciones</b> a realizarse en Guatemala en el presente año, el proyecto fomenta la velocidad en el procesamiento de datos de manera concisa y rápida. La asimilación de resultados en tiempo real es algo importante en nuestro proyecto, la utilización de la nube como herramienta primordial para compartir información con muchas personas que participan en las votaciones, ya sea como fiscales para el ingreso de datos de confianza, para el análisis de información y la creación de reportes en los cuales se graficaran resultados de una manera muy rápida y eficaz.</h4>
            <center><img src="IMGS/Untitled-1.png" /></center>
         </div>
         <br />
      </div> 
           
  
  
</article>
<aside class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="background:white;">

     <table class="auto-style1">
        <tr>
            <td>
                <asp:Label ID="Label1" runat="server" Text="Usuario:"></asp:Label>
            </td>
            <td>
                <asp:TextBox ID="txtusuario" runat="server" Width="100px"></asp:TextBox>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="Contraseña:"></asp:Label>
            </td>
            <td>
                <asp:TextBox ID="txtcontraseña" runat="server" TextMode="Password" Width="100px"></asp:TextBox>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <asp:Button ID="Button1" runat="server" Text="Ingreso" OnClick="Button1_Click" />
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <br />
    
  
     <br />
    <center>
         <img src="IMGS/BOTON VOTA.png" /><br /><br />
    <img src="IMGS/5924534.jpg" /><br />
    <img src="IMGS/VOTA16.png" width="250" height="250" />
        
  </center>


</aside>



</section>
        
    <br />
</div>
<footer>
    <br />
<div class="row">

<div class="color1 col-xs-12 col-sm-6 col-md-6">
<center>
<h1>OBJETIVOS</h1>
</center>
<p>
<center>
<img src="IMGS/250px-warning_icon-svg.png" width="100" height="100" /><BR />
</center>

Cumplir con los estándares nacionales e internacionales para la correcta implementación de soluciones empresariales, administrativas, comerciales y sociales. Generando soluciones muy variadas para todo tipo de necesidades digitales y corporativas.
</p>
    </div>

   

<div class="color4 col-xs-12 col-sm-6 col-md-6">
<br />
<p>
<img src="IMGS/flash2.png" />
</p>
</div>
    </div>
  </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
   
    </form>
</body>
</html>
